<div class="main-content">
    <div class="container-fluid">                  
              <div class="col-lg-* col-md-offset-*">
                  <div class="card">
                      <div class="card-header card-header-tabs" style="background-color: rgb(6, 76, 180);">
                          <h4 class="card-title" style= "color:white">Ingreso de datos para visualización de cambios de expediente</h4>
                          <p class="card-category" style= "color:white">Llene los siguientes campos</p>
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table table-hover">                        
                              <tbody>
                                  <tr>
                                      <td width="25%">Código Expediente</td>
                                      <td width="65%">
                                            <tr>
                                                <td><input type="text" value="" class="form-check" placeholder="PCEN..."></td>
                                                <td><input type="text" value="" class="form-check" placeholder="Año..."></td>
                                                <td><input type="text" value="" class="form-check" placeholder="Correlativo..."></td>
                                            </tr>
                                      </td>                                
                                      <td width="10%"><button mat-raised-button type="button" matTooltip="Buscar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </td>
                                  </tr>                                                           
                              </tbody>
                          </table>
                      </div>
                  </div>
             </div>
             <div class="col-lg-* col-md-offset-*">
                <div class="card">
                    <div class="card-header card-header-tabs"  style="background-color: rgb(6, 76, 180);">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Historial de cambios</span>                                    
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">                        
                            <tbody>
                                <tr>
                                    <td width="30%">Fecha y hora</td>
                                    <td width="70%">Descripcion del cambio</td>                                
                                </tr>
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr>   
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"></td>                                
                                </tr>                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>                        
    </div>
  </div>
  