<div class="main-content">
    <div class="container-fluid">                  
              <div class="col-lg-* col-md-offset-*">
                  <div class="card">
                      <div class="card-header card-header-tabs" style="background-color: rgb(6, 76, 180);">
                          <h4 class="card-title" style= "color:white">Ingreso de datos para visualización de cambios de expediente</h4>
                          <p class="card-category" style= "color:white">Llene los siguientes campos</p>
                      </div>
                      <div class="card-body table-responsive">
                          
                          <table class="table table-hover">                        
                              <tbody>
                                  <tr>
                                      <td width="30%" style="text-align:center">Código Expediente</td>
                                      <td width="70%">
                                            <tr>
                                                <td><input type="text" value="" class="form-check" placeholder="PCEN..."></td>
                                                <td><input type="text" value="" class="form-check" placeholder="Año..."></td>
                                                <td><input type="text" value="" class="form-check" placeholder="Correlativo..."></td>
                                                <td width="10%"><button mat-raised-button type="button" matTooltip="Buscar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                    </button>
                                                </td>
                                            </tr>
                                      </td>                                                                      
                                  </tr> 
                                  <tr>
                                        <td width="30%" style="text-align:center">Usuario</td>
                                        <td width="70%">
                                                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                                                <datalist id="datalistOptions">
                                                    <option value="sharolinglg">
                                                    <option value="wilson">
                                                    <option value="willy">
                                                    <option value="Juanito">
                                                    <option value="Pedrito">
                                                </datalist>
                                        </td>                                                                      
                                  </tr>
                                  <tr>
                                        <td width="30%" style="text-align:center">Sede</td>
                                        <td width="70%">
                                            <input class="form-control" list="datalistOptions2" id="exampleDataList" placeholder="Type to search...">
                                            <datalist id="datalistOptions2">
                                                <option value="central">
                                                <option value="peten">
                                                <option value="mazatenango">
                                                <option value="Jutiapa">
                                                <option value="Escuintla">
                                            </datalist>
                                        </td>                                                                      
                                  </tr>
                                  <tr>
                                        <td width="30%" style="text-align:center">Acción realizada</td>
                                        <td width="70%">
                                            <input class="form-control" list="datalistOptions3" id="exampleDataList" placeholder="Type to search...">
                                            <datalist id="datalistOptions3">
                                                <option value="Visualización">
                                                <option value="Carga">
                                                <option value="Descarga">
                                                <option value="Eliminación">
                                                <option value="Ingreso al sistema">
                                                <option value="Egreso del sistema">
                                            </datalist>                                            
                                        </td>                                                                      
                                  </tr>
                                  <tr>              
                                        <td width="30%" style="text-align:center">Fecha</td>                          
                                        <td width="70%">                                                                                           
                                            <div class="row">                                                                                        
                                                <div class="col">
                                                    <tr>
                                                        <td><p>De: </p></td>
                                                        <td>
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                    <input class="form-control" placeholder="dd/mm/yyyy"
                                                                            name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </form> 
                                                        </td>

                                                        <td><p>Al: </p></td>
                                                        <td>
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                    <input class="form-control" placeholder="dd/mm/yyyy"
                                                                            name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </td>
                                                    </tr>                                                                                                                                     
                                                </div>                                            
                                            </div>
                                        </td>                                                                      
                                  </tr>                                  
                                  <tr>
                                        <td> </td>
                                        <td>
                                            <tr>
                                                <td><button  type="button" style="background-color: rgb(6, 76, 180);" class="btn btn-primary">Aplicar Filtros</button></td>
                                                <td><button  type="button" style="background-color: rgb(6, 76, 180);" class="btn btn-primary">Descargar PDF</button></td>
                                                <td><button  type="button" style="background-color: rgb(6, 76, 180);" class="btn btn-primary">Descargar Hoja de Cálculo</button></td>                                            
                                            </tr>
                                        </td>                                        
                                  </tr>                                                                        
                              </tbody>
                          </table>
                      </div>
                  </div>
             </div>
             <div class="col-lg-* col-md-offset-*">
                <div class="card">
                    <div class="card-header card-header-tabs"  style="background-color: rgb(6, 76, 180);">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Resultado de la Búsqueda</span>                                    
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">                        
                            <tbody>
                                <tr>
                                    <td width="20%">Fecha y hora</td>
                                    <td width="20%">Expediente</td>
                                    <td width="20%">Usuario</td>
                                    <td width="20%">Sede</td>
                                    <td width="20%">Accion Realizada</td>                                
                                </tr>
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                              
                                </tr>   
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                
                                </tr>                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>                        
    </div>
  </div>
  