<div class="main-content">
    <div class="container-fluid">                  
              <div class="col-lg-* col-md-offset-*">
                  <div class="card">
                      <div class="card-header card-header-tabs" style="background-color: rgb(6, 76, 180);">
                          <h4 class="card-title" style= "color:white">Ingreso de datos para visualización de cambios de expediente</h4>
                          <p class="card-category" style= "color:white">Llene los siguientes campos</p>
                      </div>
                      <div class="card-body table-responsive">
                          
                          <table class="table table-hover">                        
                              <tbody>
                                  <tr>
                                      <td width="30%" style="text-align:center">Código Expediente</td>
                                      <td width="70%">
                                            <input width="60%" type="text" value="" class="form-control" placeholder="Ingrese el código aquí...">
                                      </td>                                                                      
                                  </tr> 
                                  <tr>
                                        <td width="30%" style="text-align:center">Usuario</td>
                                        <td width="70%">
                                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Elige el usuario
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item">User 1</a>
                                                        <a class="dropdown-item">User 2</a>
                                                        <a class="dropdown-item">User 3</a>
                                                        <a class="dropdown-item">User 4</a>
                                                        <a class="dropdown-item">User 5</a>                                                
                                                    </div>
                                        </td>                                                                      
                                  </tr>
                                  <tr>
                                        <td width="30%" style="text-align:center">Sede</td>
                                        <td width="70%">
                                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Elige la Sede
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item">Central</a>
                                                <a class="dropdown-item">Escuintla</a>
                                                <a class="dropdown-item">Suchitepequez</a>
                                                <a class="dropdown-item">Antigua</a>
                                                <a class="dropdown-item">Petén</a>                                                
                                            </div>
                                        </td>                                                                      
                                  </tr>
                                  <tr>
                                        <td width="30%" style="text-align:center">Acción realizada</td>
                                        <td width="70%">
                                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Elige la opcion realizada
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item">Visualización</a>
                                                <a class="dropdown-item">Carga</a>
                                                <a class="dropdown-item">Descarga</a>
                                                <a class="dropdown-item">Eliminación</a>
                                                <a class="dropdown-item">Ingreso al sistema</a>
                                                <a class="dropdown-item">Egreso del sistema</a>
                                            </div>
                                        </td>                                                                      
                                  </tr>
                                  <tr>              
                                        <td width="30%" style="text-align:center">Fecha</td>                          
                                        <td width="70%">                                                                                           
                                            <div class="row">                                                                                        
                                                <div class="col">
                                                    <p>De: </p>
                                                    <form class="form-inline">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                        <input class="form-control" placeholder="dd/mm/yyyy"
                                                                name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </form>                                                                                            
                                                </div>                                            
                                            </div>
                                        </td>                                                                      
                                  </tr>
                                  <tr>              
                                        <td width="30%" style="text-align:center">   </td>                          
                                        <td width="70%">                                                                                           
                                            <div class="row">                                                                                        
                                                <div class="col">
                                                    <p>Al: </p>
                                                    <form class="form-inline">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                        <input class="form-control" placeholder="dd/mm/yyyy"
                                                                name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </form>                                                                                            
                                                </div>                                            
                                            </div>
                                        </td>                                                                      
                                  </tr>
                                  <tr>
                                        <td width="100%">
                                            <button  type="button" style="top: 50%; left: 50%;background-color: rgb(44, 95, 172);" class="btn btn-primary">Aplicar Filtros</button>                                                           
                                        </td>
                                      </tr>
                                  <tr>
                                    <td width="100%" >
                                        <button  type="button" style="top: 50%; left: 50%;background-color: rgb(6, 76, 180);" class="btn btn-primary">Descargar PDF</button>                   
                                        <button  type="button" style="top: 50%; left: 50%;background-color: rgb(6, 76, 180);" class="btn btn-primary">Descargar Hoja de Cálculo</button>                   
                                    </td>
                                  </tr>                                       
                              </tbody>
                          </table>
                      </div>
                  </div>
             </div>
             <div class="col-lg-* col-md-offset-*">
                <div class="card">
                    <div class="card-header card-header-tabs"  style="background-color: rgb(6, 76, 180);">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Resultado de la Búsqueda</span>                                    
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">                        
                            <tbody>
                                <tr>
                                    <td width="20%">Fecha y hora</td>
                                    <td width="20%">Expediente</td>
                                    <td width="20%">Usuario</td>
                                    <td width="20%">Sede</td>
                                    <td width="20%">Accion Realizada</td>                                
                                </tr>
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                              
                                </tr>   
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                 
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                
                                </tr> 
                                <tr>
                                    <td width="20%"></td>
                                    <td width="20%"></td>  
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>                                
                                </tr>                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>                        
    </div>
  </div>
  