<div class="main-content">
        <div class="container-fluid">                  
                  <div class="col-lg-* col-md-offset-*">
                      <div class="card">
                          <div class="card-header card-header-tabs" style="background-color: rgb(6, 76, 180);">
                              <h4 class="card-title" style= "color:white">Ingreso de datos para Desasociar Expedientes</h4>
                              <p class="card-category" style= "color:white">Llene los siguientes campos</p>
                          </div>                                          
                            <div class="card-body table-responsive">
                                <div class="container">
                                    <div class="row " style="padding-top: 10px">
                                        <div class="col">
                                            <p>Código Expediente 1</p>                                            
                                        </div>
                                        <div class="col">                                            
                                            <input type="text" value="" class="form-control" placeholder="Ingrese el código aquí...">
                                        </div>                                                                               
                                    </div>
                                    <div class="row " style="padding-top: 10px">
                                        <div class="col">
                                            <p>Expedientes asociados</p>                                            
                                        </div>
                                        <div class="col">                                            
                                            <label><input type="radio" name="exp1"/>Expediente 1</label>
                                            <h6> </h6>
                                            <label><input type="radio" name="exp2"/>Expediente 2</label>
                                        </div> 
                                        <div class="col">                                            
                                            <label><input type="radio" name="exp3"/>Expediente 3</label>                                            
                                        </div>                                                                              
                                    </div>                                   
                                    <div class="row " style="padding-top: 10px">
                                        <div class="col">
                                                <h6> </h6>
                                                <h6> </h6>
                                                <h6> </h6>
                                        </div>                                                                                                                       
                                    </div>
                                    <div class="row " style="padding-top: 10px">
                                        <div class="col">
                                                <h6> </h6>
                                                <h6> </h6>
                                                <h6> </h6>
                                        </div>                                                                                                                       
                                    </div>
                                    <div class="row " style="padding-top: 10px">
                                        <div class="col">
                                            <textarea width="100%" class="form-control" aria-label="With textarea" placeholder="Escribe la razón por la cual quiere desasociar los expedientes"></textarea>
                                        </div>                                                                                                                       
                                    </div>                                
                                </div>
                            </div>                      
                      </div>
                 </div>
                 
                <div class="col-lg-* col-md-offset-*">            
                      <button type="button" style="top: 50%; left: 38%;background-color: rgb(6, 76, 180);" class="btn btn-primary">Desasociar Expediente</button>                   
                </div>        
        </div>
      </div>
      