<div class="main-content">
    <div class="container-fluid">                  
              <div class="col-lg-* col-md-offset-*">
                  <div class="card">
                      <div class="card-header card-header-tabs" style="background-color: rgb(6, 76, 180);">
                          <h4 class="card-title" style= "color:white">Ingreso de datos para Asociar Expedientes</h4>
                          <p class="card-category" style= "color:white">Llene los siguientes campos</p>
                      </div>                                          
                        <div class="card-body table-responsive">
                            <div class="container">
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                        <p>Código Expediente 1</p>                                            
                                    </div>
                                    <div class="col">                                            
                                        <tr>
                                            <td><input type="text" value="" class="form-check" placeholder="PCEN..."></td>
                                            <td><input type="text" value="" class="form-check" placeholder="Año..."></td>
                                            <td><input type="text" value="" class="form-check" placeholder="Correlativo..."></td>
                                        </tr>
                                    </div>                                                                               
                                </div>
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                        <p>Código Expediente 2</p>                                            
                                    </div>
                                    <div class="col"> 
                                        <tr>
                                            <td><input type="text" value="" class="form-check" placeholder="PCEN..."></td>
                                            <td><input type="text" value="" class="form-check" placeholder="Año..."></td>
                                            <td><input type="text" value="" class="form-check" placeholder="Correlativo..."></td>
                                        </tr>                                         
                                    </div>                                                                               
                                </div>  
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                            <button type="button" style="top: 50%; left: 40%;background-color: rgb(6, 76, 180);" class="btn btn-primary">Agregar Mas</button>                                                                                                
                                    </div>                                                                                                                       
                                </div>  
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                            <h6> </h6>
                                            <h6> </h6>
                                            <h6> </h6>
                                    </div>                                                                                                                       
                                </div>
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                            <h6> </h6>
                                            <h6> </h6>
                                            <h6> </h6>
                                    </div>                                                                                                                       
                                </div>
                                <div class="row " style="padding-top: 10px">
                                    <div class="col">
                                        <textarea width="100%" class="form-control" aria-label="With textarea" placeholder="Escribe la razón por la cual quiere asociar los expedientes"></textarea>
                                    </div>                                                                                                                       
                                </div>                                
                            </div>
                        </div>                      
                  </div>
             </div>
             
            <div class="col-lg-* col-md-offset-*">            
                  <button type="button" style="top: 50%; left: 38%;background-color: rgb(6, 76, 180);" class="btn btn-primary">Asociar Expediente</button>                   
            </div>        
    </div>
  </div>
  